<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<sec:http create-session="never" realm="Twitter Sample" auto-config="false" entry-point-ref="entryPoint">
		<sec:intercept-url pattern="/rest/login/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/rest/**" access="ROLE_REST_API" />

		<sec:custom-filter ref="preAuthFilter" position="PRE_AUTH_FILTER" />
	</sec:http>

	<bean id="preAuthFilter" class="com.nelsonjrodrigues.twitter.web.security.ApiTokenPreAuthenticationFilter">
		<property name="authenticationManager" ref="authenticationManager" />
		<property name="authenticationDetailsSource">
			<bean class="com.nelsonjrodrigues.twitter.web.security.StaticAuthoritiesAuthenticationDetailsSource" />
		</property>
	</bean>

	<bean id="entryPoint" class="com.nelsonjrodrigues.twitter.web.security.Http401UnauthorizedEntryPoint" />

	<bean id="preAuthProvider" class="org.springframework.security.web.authentication.preauth.PreAuthenticatedAuthenticationProvider">
		<property name="preAuthenticatedUserDetailsService">
			<bean class="org.springframework.security.web.authentication.preauth.PreAuthenticatedGrantedAuthoritiesUserDetailsService" />
		</property>
	</bean>

	<sec:authentication-manager alias="authenticationManager">
		<sec:authentication-provider ref="preAuthProvider" />
	</sec:authentication-manager>
</beans>